<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 为这个mapper指定一个唯一的namespace，namespace的值习惯上设置成包名+sql映射文件名，这样就能够保证namespace的值是唯一的
例如namespace="me.gacl.mapping.userMapper"就是me.gacl.mapping(包名)+userMapper(userMapper.xml文件去除后缀)
-->
<mapper namespace="com.qijun.spring.demo.mapper.UserPasswordMapper">

    <resultMap type="com.qijun.spring.demo.entity.UserInfo" id="base_result_map">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <select id="getUserPassword" parameterType="java.lang.String" resultMap="base_result_map">
    select id,name
    from user_info where name =#{userName}
    </select>

</mapper>