<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- TODO, temp use xml config, seems Java config doesn't work for spring-mybatis transaction -->

    <!--sqlSession工厂实例-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--<property name="configLocation" value="classpath:mybatis-config.xml"/>-->
        <property name="mapperLocations" value="classpath*:/com/qijun/spring/demo/mapper/**/*.xml"/>
    </bean>

    <!--load资源配置文件-->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:/properties/demo.properties</value>
            </list>
        </property>
    </bean>
    <bean id="dateBean" class="com.qijun.spring.demo.convert.String2Date">
        <constructor-arg value="2014-03-04 09:21:20"></constructor-arg>
    </bean>
    <bean id="stringToDateConverter" class="com.qijun.spring.demo.convert.String2DateConvert">
    </bean>
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="stringToDateConverter" />
            </set>
        </property>
    </bean>

    <!--数据连接池-->
    <bean id="dataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="${datasource.classname}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
        <property name="connectionTimeout" value="${connection.timeout}"/>
        <property name="maximumPoolSize" value="${max.pool.size}"/>
    </bean>

    <!--数据底层事务处理-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven mode="proxy" transaction-manager="transactionManager"/>

    <!--注册全部的mybatis映射器-->
    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.qijun.spring.demo.mapper"/><!--,或;分隔多个包路径-->
        <property name="annotationClass" value="org.springframework.stereotype.Repository"/>
    </bean>

</beans>